{
  "extends": "./node_modules/electrode-archetype-react-app/config/babel/.babelrc",
  "plugins": [
    "syntax-class-properties",
    "syntax-decorators",
    "transform-class-properties",
    "transform-decorators-legacy"
  ]
}
